{
  "env": {
    "browser": true
  },
  "extends": "eslint-config-airbnb",
  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "ENV": true
  },
  "rules": {
    "default-case": 0,
    "id-length": 0,
    "react/jsx-uses-react": [2, { "pragma": "createElement" }],
    "react/react-in-jsx-scope": 0,
    "new-cap": 0,
    "no-alert": 0,
    "no-console": 0,
    "no-use-before-define": 0,
    "padded-blocks": 0,
    "spaced-comment": 0
  }
}
