{
  "extends": [
    "metalab/browser",
    "metalab/react"
  ],
  "globals": {
    "ENV": true,
    "process": true,
    "querystring": true
  },
  "rules": {
    "default-case": 0,
    "filenames/filenames": 0,
    "jsx-quotes": [1, "prefer-double"],
    "max-len": [1, 100, 2],
    "no-console": 1,
    "no-multiple-empty-lines": 0,
    "quote-props": 0,
    "spaced-comment": 0,
    "valid-jsdoc": 0
  }
}
