{
  "env": {
    "browser": true
  },
  "extends": "eslint-config-airbnb",
  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "AWS": true,
    "ENV": true
  },
  "rules": {
    "new-cap": 0,
    "no-use-before-define": 0,
    "padded-blocks": 0,
    "spaced-comment": 0
  }
}
