---
layout: 'static.hbs'
---

<h1>Ongaku Ryoho</h1>

<p>
  A music player which connects to your cloud storage.
</p>

<p>
  <a class="button" href="../app/sign-up">Sign up</a>
  <span>&nbsp; or &nbsp;</span>
  <a class="button" href="../app/">Sign in</a>
</p>

<div class="screenshot">
  <img src="/images/screenshot.png" />
</div>


<h2>Features</h2>

<ul>
  <li>Import <strong>Amazon S3 buckets</strong> <small>(others will be supported in the future)</small></li>
  <li>Standard things a music player should do</li>
  <li>Queue &amp; history</li>
  <li>Collections</li>
  <li>Equalizer, manipulate low, mid &amp; hi bands</li>
</ul>

<p>
  You can request a feature by making an issue on the
  <a href="https://github.com/icidasset/ongaku-ryoho/issues">Github repo</a>.
</p>
