:global(.button) {
  background: $shade-text;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 color($shade a(0.125));
  color: white;
  display: inline-block;
  font-size: 0.95rem;
  font-weight: bold;
  letter-spacing: -0.0125em;
  line-height: 1.65;
  margin: 0.75rem 0 0;
  padding: 6px 13px 7px;
  text-decoration: none;

  &:focus,
  &:active {
    box-shadow: none;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.125) inset;
  }

  &[disabled] {
    opacity: .6;
  }


}
