// http://www.colourlovers.com/palette/1625028/Five_%E2%99%A5ers_to_200_!
// http://www.colourlovers.com/palette/767084/midnight_sun

$shade: color(#3F264D tint(70%));
$shade-text: color(#3F264D tint(35%));
$subtle-gray: #eee;
$subtle-gray-text: color($subtle-gray shade(9.5%));

$text-color: #3f3f3f;
