// http://www.colourlovers.com/palette/2426132/blue_flame
// http://www.colourlovers.com/palette/1811244/1001_Stories

$shade: color(#259073 tint(70%));
$shade-text: color(#259073 tint(35%));
$subtle-gray: #eee;
$subtle-gray-text: color($subtle-gray shade(9.5%));

$text-color: #3f3f3f;
