@import "./colors";
@import "./fonts";
@import "./queries";


:root {
  @mixin defaultFont;
  color: $text-color;
  font-size: 13px;
  line-height: 1.7;

  @media (--small) {
    font-size: 14px;
  }

  @media (--medium) {
    font-size: 15px;
  }
}
