/*

  http://www.colourlovers.com/palette/1625028/Five_%E2%99%A5ers_to_200_!
  http://www.colourlovers.com/palette/767084/midnight_sun

*/

$shade: color(rgb(24, 38, 99));
$shade-light: color($shade tint(80));
$shade-text: color($shade tint(60));
$subtle-gray: #eee;
$subtle-gray-text: color($subtle-gray shade(9.5));

$text-color: #3f3f3f;
