@import "../../styles/colors";
@import "../../styles/fonts";
@import "../../styles/queries";


/*

http://codepen.io/Bork/pen/wJhEm/

*/


.header {
  @mixin displayFont;

  background: rgba(24, 38, 99, 0.2);
  box-shadow: 0 -2px 4px 0px rgba(0, 0, 0, 0.075) inset;
  color: color(black a(.45));
  overflow: hidden;
  padding: grid(2) grid(1);
  position: relative;
  z-index: 3;

  @media (--medium) {
    display: flex;
  }
}
