@import "../../styles/colors";


/*

http://codepen.io/Bork/pen/wJhEm/

*/


.header {
  background: linear-gradient(180deg, color(#F68768 a(0.5)), color(#DF6E7F a(0.5)));
  box-shadow: 0 -2px 4px 0px rgba(0, 0, 0, 0.075) inset;
  display: flex;
  overflow: hidden;
  padding: grid(2) grid(1);
  position: relative;
  z-index: 3;
}
