@import "../../styles/colors";
@import "../../styles/fonts";
@import "../../styles/queries";
@import "../../styles/z-indexes";


.header {
  @mixin displayFont;

  background: $shade-light;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.075) inset;
  color: color(black a(.45));
  padding: grid(2) grid(1.5);
  position: relative;
  z-index: $z-index-header;

  @media (--medium) {
    display: flex;
  }
}
