.tracks {
  color: #6f6f6f;
  font-size: 0.8rem;
  letter-spacing: 0.025em;
  line-height: 1.2;
  list-style: none;
  margin: 0;
  padding: 0;
}


/**
 * Track
 */
.track {
  border-bottom: 1px solid #F0F0F0;
  cursor: pointer;
  padding: grid(1.5) grid(1);
  position: relative;
}

.track span {
  display: inline-block;
  font-size: 0.9em;
  margin: 0 0.5rem;
  opacity: .5;
  vertical-align: baseline;
}

.track strong {
  display: inline-block;
  font-weight: 400;
  vertical-align: baseline;
}
