@import "../styles/colors";


.layout {
  margin: 0 auto;
  max-width: 500px;
  padding: 1.75rem 1.25rem;
}


/// Menu
///
.layout nav {
  margin: 0 auto 3rem;

  a {
    color: #888;
    font-size: 0.75rem;
    font-weight: 500;
    margin-right: 2.75rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  :global(a.is-active) {
    color: black;
    cursor: default;
  }

  a i {
    font-size: 1.45em;
    margin-right: 3px;
    transform: translateY(25%);
  }
}


/// Content
///
.content {

}
