@import "../styles/colors";


.form {

  /// Inputs
  ///
  .inputs {
    margin: 0.5rem 0 1.75rem;
  }

  input {
    border: none;
    border-bottom: 1px solid $subtle-gray;
    box-sizing: border-box;
    color: $text-color;
    display: block;
    line-height: 1.7;
    margin-bottom: 1.4rem;
    padding: 10px 0;
    width: 100%;

    &:focus {
      border-bottom-color: $shade;
      outline: none;
    }

    &::placeholder {
      color: $subtle-gray-text;
    }
  }

  input[type="password"] {
    letter-spacing: 0.325em;
  }

  label {
    display: block;
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 1px;
    text-transform: uppercase;
  }


}


/// Errors and additional text
///
.note {
  font-size: 0.85rem;
  margin-top: 1.75rem;
}
