.info {
  font-size: 0.9rem;
  list-style: none;
  margin-bottom: 0;
  margin-top: 1.75rem;
  padding: 0;
}

.info li {
  padding-left: 29px;
  position: relative;

  &[data-info-type="error"] {
    color: #F23427;
  }

  &[data-info-type="success"] {
    color: green;
  }
}

.info li i {
  font-size: 1.15em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
