@import "../styles/colors";


.list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.item {
  border-bottom: 1px solid $subtle-gray;
  display: flex;
  padding: 1rem 0;
}


.item__title {
  flex-grow: 1;
}


.item__actions {
  a {
    cursor: pointer;
    margin-left: 7px;
  }

  i {
    font-size: 1.2rem;
    transform: translateY(-2px);
    vertical-align: middle;
  }
}


.empty-state {
  background: #F9F9F9;
  color: #BBB;
  cursor: pointer;
  height: 170px;
  position: relative;
  text-align: center;
}


.empty-state__inner {
  font-size: 0.9rem;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  > i,
  > span {
    display: block;
  }

  > i {
    font-size: 2.25rem;
    margin-bottom: 3px;
  }
}
