.loader {
  background-image: url(../../images/loading.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
}
