<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {{> title}}

  <link rel="stylesheet" href="{{webpack.assets.[main.css]}}" />

  <script>
    window.ENV = {{{envVariables}}};
  </script>
</head>
<body>


{{{ contents }}}


<script src="{{webpack.assets.[main.js]}}"></script>


</body>
</html>
