<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {{> title}}
  {{> favicons}}

  <link rel="stylesheet" href="{{webpack.assets.[static.css]}}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Palanquin:400,300,500,700" />
</head>
<body class="{{pageClass}}">



{{{ contents }}}


<script src="{{webpack.assets.[static.js]}}"></script>


</body>
</html>
