<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>

  {{#each webpack.assetsByType.css as |file|}}
    <link rel="stylesheet" href="{{file}}" />
  {{/each}}
</head>
<body>


  <h1>Index</h1>

  {{#each webpack.assetsByType.js as |file|}}
    <script src="{{file}}"></script>
  {{/each}}


</body>
</html>
