@import "./styles/colors.scss";
@import "./styles/loading.scss";

@define-mixin default-font {
  font-family: "Palanquin", sans-serif;
}

body {
  @mixin default-font;
}

h1, h2, h3, h4, h5, h6 {
  @mixin default-font;
}

h2 {
  color: $shade_text;
  font-weight: 300;
}


/// Material-design-lite overrides
///
:global .mdl-layout__drawer-button {
  color: $shade_text;
  left: 1rem;
  margin: 0;
  top: 15px;
}

:global .mdl-layout__content {
  margin: calc(6rem + 2px) 0 5.5rem;
}


/// Enable js
///
:global .enable-js {
  color: #999;
  font-size: 2rem;
  font-weight: 300;
  left: 50%;
  line-height: 1.2;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
