@import "styles/colors";
@import "styles/fonts";
@import "styles/button";

:global .wrapper {
  margin: 3rem auto;
  width: 960px;
}

h1 {
  font-weight: 300;
  letter-spacing: -0.025em;
  text-align: center;
}

p {
  color: #999;
  text-align: center;
}
