@import "styles/colors";
@import "styles/button";

@define-mixin default-font {
  font-family: "Palanquin", sans-serif;
}

html {
  font-size: 16px;
}

body {
  @mixin default-font;
  color: $text-color;
  font-size: 1rem;
  line-height: 1.7;
}

:global .wrapper {
  margin: 3rem auto;
  width: 960px;
}

/// Content
///
h1 {
  font-weight: 300;
  letter-spacing: -0.025em;
  text-align: center;
}

p {
  color: #999;
  text-align: center;
}
